@page "/index"
@inject HttpClient Http

<h3>Song Index</h3>

@if (songs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Spanish</th>
                <th>English</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var song in songs)
            {
                <tr>
                    <td>@song.SpanishTitle</td>
                    <td>@song.EnglishTitle</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shared.Models.Song[] songs;

    protected override async Task OnInitializedAsync()
    {
        songs = await Http.GetFromJsonAsync<Shared.Models.Song[]>("data/index.json");
    }    
}
