@inherits LayoutComponentBase

<div class="container">
    <div class="content">
        <header>
            <h1>Resucito</h1>
            <nav class="">
                <NavLink href="" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true">Home</span>
                </NavLink>
                &nbsp;
                <NavLink href="counter">
                    <span class="" aria-hidden="true">Counter</span>
                </NavLink>
                &nbsp;
                <NavLink href="fetchdata">
                    <span class="" aria-hidden="true">Fetch data</span>
                </NavLink>
            </nav>
        </header>
        <hr>
        @Body
        <hr>
    </div>
</div>
