@inherits LayoutComponentBase

<div class="container">
    <div class="content">
        <header>
            <h1>📕 Resucito Dictionary</h1>
            <nav class="">
                <NavLink href="" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true">Home</span>
                </NavLink>
                &nbsp;
                <NavLink href="index">
                    <span class="" aria-hidden="true">Index</span>
                </NavLink>
            </nav>
        </header>
        <hr>
        @Body
        <hr>
    </div>
</div>
